@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$mainFont: "Montserrat", sans-serif;

@mixin  displayFlex($display, $justify-content, $align-items, $flex-direction, $flex-wrap) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}