@import "../../_general";

.recipe-info-section {
  @include displayFlex(flex, center, center, column);
  width: 100%;
  padding: 20px;
  .recipe-info {
    @include displayFlex(flex, center, center, column);
    width: 75%;
    margin-left: 2%;
    font-family: $textFont, sans-serif;
    text-align: center;
    h1 {
      font-size: 6vh;
      text-transform: uppercase;
      margin: 2% 0 2% 0;
    }
  }

  .recipe-info-table {
    border: 1px solid gray;
    width: 100%;
    @include displayFlex(flex, space-around, center, 0);
    .recipe-info-table-block {
      font-family: $textFont, sans-serif;
      text-align: center;
      font-size: 24px;
      .true {
        color: rgb(5, 235, 5);
      }
      .false {
        color: rgb(173, 0, 0);
      }
      &:not(:last-child) {
        border-right: 1px solid gray;
        padding: 10px;
      }
    }
  }

  img {
    height: 100%;
    width: auto;
    margin-top: 2%;
  }
}

@media only screen and (max-width: 1224px) {
  .recipe-info-section {
    height: 120vw;
    @include displayFlex(0, space-around, 0, 0);
    .recipe-info {
      margin-top: 6%;
      width: 100%;
      height: 110vw;
      @include displayFlex(0, 0, 0, column);
    }
    .recipe-info-table {
      font-size: 16px;
      flex-direction: column;
      border: none;
      .recipe-info-table-block {
        border: none !important;
        border-bottom: 1px solid gray;
      }
    }
    img {
      width: 300px;
      height: auto;
    }
  }
}
